<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/834474b273.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="t_body">
        <div class="green_top"></div>
        <div class="container">
            <div class="box">
                <!-- Inizio Chat di sinistra -->
                <div class="left_contatti">
                    <div class="nav_left">
                        <div class="div_nav_left">
                            <div class="avatar"><img src="imgs/avatar_8.jpg" alt=""></div>
                        </div>
                        <div class="icone_right">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notify">
                        <div class="notify-fas">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notify-text">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="search-chat">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup.esc="search =''">
                        <!-- Aggiungo un'icona x per svuotare o cancellare la ricerca -->
                        <i class="fas fa-times" v-if="search" @click="search =''"></i>
                    </div>
                    <!-- Inizio lista contatti -->
                    <div class="total_list">
                        <div class="lista_contatti" v-for="user in filteredUsersList" @click="onUserClick(user)"
                            :class="{selected: user.avatar ===selectUser.avatar}">
                            <div class="contacts-chat">
                                <div class="data-contact">
                                    <div class="avatar-box">
                                        <img :src="`imgs/avatar${user.avatar}.jpg`" alt="">
                                    </div>
                                    <div class="name-mess">
                                        <h3>{{user.name}}</h3>
                                        <p>Non ci sono nuovi messaggi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Inizio Chat di destra -->
                <div class="chat-contatti">
                    <div>
                        <div class="nav_chat">
                            <div class="nav_chat-left">
                                <div class="avatar"><img :src="`imgs/avatar${selectUser.avatar}.jpg`" alt=""></div>
                                <div class="name">
                                    <h3>{{selectUser.name}}</h3>
                                    <p>Ultimo accesso oggi alle
                                        <span>16:15</span>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box right">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>

                    <div class="text_message">
                        <div class="message" :class="{
                            received: message.status === 'received', 
                            sent:message.status === 'sent'}" v-for="message in selectUser.messages">{{message.text}}
                            <div class="time">{{formatTime(message.date)}} </div>
                        </div>
                        <!-- <div class="message sent">Messaggio inviato </div> -->

                    </div>
                    <div class="scrivi_messaggio">
                        <span><i class="far fa-smile fa-"></i></span>
                        <input id="input-text" type="text" placeholder="scrivi un messaggio" @keyup.enter="sendMessage" v-model="newMsgText">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="scripts/data.js"></script>
    <script src="scripts/app.js"></script>

</body>

</html>